@font-face {
	font-family:"Graphik-Regular";
	src: url('Graphik-Regular-Web.eot');
	src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
		url('Graphik-Regular-Web.woff') format('woff'),
		url('Graphik-Regular-Web.ttf') format('truetype'),
		url('Graphik-Regular-Web.eot#tGraphik-Regular-Web') format('svg');
    font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2265;
}

@font-face {
	font-family:"Graphik-Semibold";
	src: url('Graphik-Semibold-Web.eot');
	src: url('Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
		url('Graphik-Semibold-Web.woff') format('woff'),
		url('Graphik-Semibold-Web.ttf') format('truetype'),
		url('Graphik-Semibold-Web.eot#tGraphik-Semibold-Web') format('svg');
    font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2265;
}

body {
  font-family: "Graphik-Regular", sans-serif;
  line-height: 1.4;
  font-size: 12px;

  background-color: #383838;
  margin: 0;
  color: #E7E7E7;
}

a {
  color: #E7E7E7;
}

a:hover {
	color: #e7e7e7;
	text-decoration: none;
}

i {
  margin: 0.2em;
  margin-top: 0;
}

i:hover{
	color: white;
}

.container {
	margin: 0;
}

#nav {
  float:left;
  height: 100vh;
  margin: 0;
  padding: 2em;
  padding-right: 2em;
  padding-left: 4em;
  padding-bottom: 0;

	position: fixed;
  /*width: 17%;*/
  display: inline-block;

  background-color: #434343;
  color:white;

  font-size: 11px;
}

#nav a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 12px;
  color: #E7E7E7;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
}

h2 {
	font-family: "Graphik-Regular", sans-serif;
	/*font-weight: 500;*/
	font-size: 1.2em;
}

p.links {
	margin-top: 2em;
}

#nav-list {
  list-style: none;
  padding-left: 1em;
  margin-top: 0.5em;

  color: #B6B6B6;
}

#nav-list a {
  color: #B6B6B6;
}

#nav-list a:active {
  text-decoration: underline;
}

#nav-list a:hover{
  color: #E7E7E7;
}

#content {
  height: 100vh;
  margin: 0;
  padding: 2em;

  display: inline-block;
}

#home {
  vertical-align: middle;
}

#project-list {
	/*width: 100%;
	height: 100%;*/

	margin-bottom: 3em;
}

img {
	width: 90%;
	margin-bottom: 1em;
}

.nav-wrap {
	padding: 0;
	margin: 0;
}

#about {
	padding-top: 2em;
}
