<div class="container">
  <h2>About</h2>
  <p>My name is Nirawit Jittipairoj. I want to make tech products.</p>
  <p>I am studying Industrial Design and Informatics at the University of Washington.</p>

  <p class="links">
    <a href="mailto:nirawitj@uw.edu" target="_blank"><i class="fa fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/nirawitj" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://twitter.com/6fingeredamish" target="_blank"><i class="fa fa-twitter"></i></a>
  </p>
</div>
